<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stone.mapper.UserBeanMapper">
  <resultMap id="BaseResultMap" type="com.stone.model.bean.UserBean">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="car_number" jdbcType="VARCHAR" property="carNumber" />
    <result column="address" jdbcType="VARCHAR" property="address" />
  </resultMap>

  <select id="getUserByName" resultType="com.stone.model.dic.UserBean" parameterType="string">
    select * from system_user where phoneNumber = #{name}
  </select>
</mapper>